<div class="container mt-5">
<div id="imageContainer"></div>
</div>
{{! Script to load the random image after the feth-single.hbs was loaded 
and to deal with the blob and transform it into an img to populate the image-container div 
}}

<script> 
       document.addEventListener("DOMContentLoaded", function () {
          fetch("/fetch/random-image")//Took a while to figure te route here must include /fetch..!
            .then((response) => response.json())
            .then((data) => {
              const imageContainer = document.getElementById("imageContainer");
              imageContainer.innerHTML = ""; // Clear any existing content

              if (data && data.imageBuffer) {
                const imgElement = document.createElement("img");
                imgElement.src = `data:${data.contentType};base64,${data.imageBuffer}`;
                imgElement.alt = data.filename;
                imgElement.style.maxWidth = "500px";
                imgElement.style.margin = "10px";

                imageContainer.innerHTML = "Random Image Fetched (scaled to 500px max width)";
                imageContainer.appendChild(imgElement);
              } else {
                imageContainer.innerHTML = "<p>No image found.</p>";
              }
            })
            .catch((error) => console.error("Error fetching file:", error));
        });

</script>