<div class="container mt-5">
<div id="image-container"></div>
</div>
{{! Script to load the random image after the feth-single.hbs was loaded 
and to deal with the blob and transform it into an img to populate the image-container div 
}}
<script> 
  document.addEventListener("DOMContentLoaded", function () {
  fetch("/random-image") .then((response) => { if (response.ok) {
      return response.blob(); 
    } else {
      throw new Error("Network response was not ok"); } })
    .then((imageBlob) => {
      const imageObjectURL = URL.createObjectURL(imageBlob);
      const img = document.createElement("img");
      img.src = imageObjectURL;
      img.width = 400;
      const imageContainer = document.getElementById("image-container");
      imageContainer.innerHTML = ""; // Clear previous image
      const textNode = document.createElement("h1");
      textNode.textContent = "Random Image Fetched";
      const textNode1 = document.createElement("p");
      textNode1.textContent = "(scaled down to 400px max width)";
      imageContainer.appendChild(textNode);
      imageContainer.appendChild(img);
      imageContainer.appendChild(textNode1);
    })
  .catch((error) => { console.error("There was a problem with the fetch operation:", error);
  }); 
});
</script>



